extends ../../layouts/default.pug
include ../../mixins/select-tree.pug
include ../../mixins/alert.pug

block main 
  +alert-error(5000)
  +alert-success(5000)
  form.container-fluid.pt-4.px-4(method='POST' action=`/${prefixAdmin}/products/create` enctype='multipart/form-data')
    .bg-light.rounded.h-100.p-4
      h6.mb-4 Tạo sản phẩm
      .form-floating.mb-3
        input#title.form-control(type='text' name='title' placeholder='')
        label(for='title') Tên sản phẩm
      .mb-3
        label.form-label(for='product-images') Ảnh sản phẩm (max: 10)
        .mb-3.upload-multiple-images
          input#thumbnail.form-control(type='file' name='thumbnail' accept='image/*' multiple='multiple') 
          .preview.mt-3
      .form-floating.mb-3
        input#price.form-control(type='currency' name='price' value='0' min='0')
        label(for='price') Giá sản phẩm (đ)
      .form-floating.mb-3
        input#stock.form-control(type='number' name='stock' value='0' min='0')
        label(for='stock') Số lượng sản phẩm
      .form-floating.mb-3
        input#discountPercentage.form-control(type='number' name='discountPercentage' value='0' min='0')
        label(for='discountPercentage') Discount percentage
      .form-floating.mb-3
        select#categoryId.form-select(name='categoryId' aria-label='Floating label select example')
          option(selected='' value="") Chọn phân loại
          +select-tree(categoriesTree)
        label(for='categoryId') Phân loại sản phẩm
      hr
      .form-check.form-check-inline
        input#active.form-check-input(type='radio' name='status' checked='' value='active')
        label.form-check-label(for='active') Active
      .form-check.form-check-inline
        input#inactive.form-check-input(type='radio' name='status' value='inactive')
        label.form-check-label(for='inactive') Inactive
      hr
      .form-check
        input#featured.form-check-input(type='checkbox' value="true" name='featured')
        label.form-check-label(for='featured')
          | Sản phẩm nổi bật
      hr
      .form-floating.mb-3
        input#position.form-control(type='number' name='position' value=`${countProducts + 1}` min='0')
        label(for='quantity') Vị trí (lớn nhất hiển thị đầu tiên)
      .form-floating
        textarea#description.textarea-mce.form-control(placeholder='Mô tả sản phẩm' style='height: 150px;' name='description')
        label(for='description') Mô tả sản phẩm
      .d-flex.justify-content-end.mt-4
        button.btn.btn-primary(type='submit') Tạo sản phẩm
