.footer
  .container
    .footer-img
      img(src='/img/sofa.png' alt='')
    .footer-content
      .column-1
        .logo
          a(href='#')
            img(src='/img/logo/shop.svg' alt='logoShop' style='height: 30px;')
            span.brandName Furniture.
        p.sub-content-dark
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Quisquam, voluptatum.
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Quisquam, voluptatum.
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Quisquam, voluptatum.
        .social
          a(href='#')
            img(src='/img/logo/facebook-icon.svg' alt='' style='width: 24px;')
          a(href='#')
            img(src='/img/logo/twitter.svg' alt='' style='width: 24px;')
          a(href='#')
            img(src='/img/logo/ins.svg' alt='' style='width: 24px;')
      .column-2
        .column-links
          ul
            li
              a(href='#') Về chúng tôi
            li
              a(href='#') Dịch vụ
            li
              a(href='#') Blog
            li
              a(href='#') Liên hệ
        .column-links
          ul
            li
              a(href='#') Hỗ trợ khách hàng
            li
              a(href='#') Những điều cần biết
            li
              a(href='#') Chat trực tiếp
        .column-links
          ul
            li
              a(href='#') Tuyển dụng
            li
              a(href='#') Đội ngũ
            li
              a(href='#') Lãnh đạo
            li
              a(href='#') Chính sách và Điều khoản
    .copyright
      p.sub-content-dark
        | Copyright &copy;2023. All Rights Reserved
        br
        b(style='font-size: larger;')
          | Made by 
          a(href='#' style="color: black") QueckQueck
