include ../../mixins/alert.pug

doctype html
head
  meta(charset='utf-8')
  title #{pageTitle}
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  meta(content='' name='keywords')
  meta(content='' name='description')
  // Favicon
  link(href='/admin/img/favicon.ico' rel='icon')
  // Google Web Fonts
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap' rel='stylesheet')
  // Icon Font Stylesheet
  link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css' rel='stylesheet')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css' rel='stylesheet')
  // Libraries Stylesheet
  link(href='/admin/lib/owlcarousel/assets/owl.carousel.min.css' rel='stylesheet')
  link(href='/admin/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' rel='stylesheet')
  // Customized Bootstrap Stylesheet
  link(href='/admin/css/bootstrap.min.css' rel='stylesheet')
  // Template Stylesheet
  link(href='/admin/css/style.css' rel='stylesheet')
.container-xxl.position-relative.bg-white.d-flex.p-0
  +alert-error(5000)
  +alert-success(5000)
  // Spinner Start
  #spinner.show.bg-white.position-fixed.translate-middle.w-100.vh-100.top-50.start-50.d-flex.align-items-center.justify-content-center
    .spinner-border.text-primary(style='width: 3rem; height: 3rem;' role='status')
      span.sr-only Loading...
  // Spinner End
  // Sign In Start
  form(action="", method="post").container-fluid.signInForm
    .row.h-100.align-items-center.justify-content-center(style='min-height: 100vh;')
      .col-12.col-sm-8.col-md-6.col-lg-5.col-xl-4
        .bg-light.rounded.p-4.p-sm-5.my-4.mx-3
          .d-flex.align-items-center.justify-content-between.mb-3
            a(href='/')
              h3.text-primary
                i.fa.fa-hashtag.me-2
                | furniture-web
            h3 Sign In
          .form-floating.mb-3
            input#email.form-control(type='email' placeholder='name@example.com' name='email' required autofocus)
            label(for='email') Email address
          .form-floating.mb-4
            input#password.form-control(type='password' placeholder='Password' name='password' required)
            label(for='password') Password
          .d-flex.align-items-center.justify-content-between.mb-4
            .form-check
              input#rememberMe.form-check-input(type='checkbox' name='rememberMe' value='true')
              label.form-check-label(for='rememberMe') Remember me
            //- a(href='#') Forgot Password
          button#submitSignIn.btn.btn-primary.py-3.w-100.mb-4(type='submit') Sign In
          //- .d-flex.justify-content-center
            a(href='#') Create an account
          // Error Alert
          .alert.alert-danger.text-center.mb-0.mt-4(style=`display: none;`)
  // Sign In End
// JavaScript Libraries
script(src='https://code.jquery.com/jquery-3.4.1.min.js')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js')
script(src='/admin/lib/chart/chart.min.js')
script(src='/admin/lib/easing/easing.min.js')
script(src='/admin/lib/waypoints/waypoints.min.js')
script(src='/admin/lib/owlcarousel/owl.carousel.min.js')
script(src='/admin/lib/tempusdominus/js/moment.min.js')
script(src='/admin/lib/tempusdominus/js/moment-timezone.min.js')
script(src='/admin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js')
// Template Javascript
script(type="module" src='/admin/js/main.js')
