mixin wall(title, subContent)
  .wall 
    .container.wall-flex
      .content-wall
        h1.head-title #{title}
        p.sub-content #{subContent}
        p.buttons 
          a.button.button-hightlight(href='#') Đăng nhập
          a.button.button-simple(href='#') Đăng ký
      .img-wall
        img(src='img/couch.png' alt='couch')