mixin wall(title, subContent, displayImg = true)
  .wall 
    .container.wall-flex
      .content-wall
        h1.head-title #{title}
        p.sub-content #{subContent}
        if (!user)
          p.buttons 
            a.button.button-hightlight.me-3(href='/auth/login') Đăng nhập
            a.button.button-simple(href='/auth/signup') Đăng ký
      if (displayImg)
        .img-wall
          img(src='/img/couch.png' alt='couch')