extends ../../layouts/default.pug
include ../../mixins/currencyConverter.pug
include ../../mixins/wall.pug
include ../../mixins/alert.pug
include ../../mixins/moment.pug

block style
  style.
    .wall-flex {
      justify-content: center !important;
    }

    .content-wall {
      text-align: center;
    }

    .main {
      padding-bottom: 150px;
    }
    td.first-item {
      width: 30%;
      font-weight: bold;
    }
    td {
      background-color: transparent !important;
    }
    #main {
      padding-bottom: 66px;
    }
    .main-content {
      padding: 66px 0;
    }
    .orders {
      padding-bottom: 100px;
    }
    .actions {
      display: flex;
      flex-wrap: wrap;
    }
    .actions button {
      margin: 12px 12px 0 0 !important;
    }
    #block-orders.content a {
      color: black;
    }
    #block-orders.content a:hover {
      color: #3b5d50;
    }

block main
  +alert-success(5000)
  +alert-error(5000)
  +wall('Đổi mật khẩu', '', false)
  .main-content
    .container
      #main
        form#form-change-password.content(action='/auth/change-password', method='POST')
          table.std.table
            tbody
              tr
                td.first-item
                  | Mật khẩu cũ: 
                td
                  input.form-control(type='password' name='oldPassword' required)
              tr
                td.first-item
                  | Mật khẩu mới: 
                td
                  input.form-control(type='password' name='newPassword' required)
              tr
                td.first-item
                  | Xác nhận mật khẩu: 
                td
                  input.form-control(type='password' name='confirmPassword' required)
        .actions
          button.button.button-hightlight-2(type="submit" form="form-change-password")
            | Lưu
          button.button.button-hightlight-2(type="button" onclick="window.history.back();")
            | Huỷ